.footer {
	display: flex;
	flex-direction: column;
	padding: 30px 15px 22px 15px;
	background: #212122;
	&__divider {
		margin: 30px 0 15px 0;
		height: 1px;
		background: #666666;
	}
	&__text{
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		display: flex;
		flex-direction: column;
		color: #999999;
		padding-right: 40px;
	}
}