.services {
    padding-bottom: 30px;
    background: #EEEEEE;

    &__item {
        display: flex;
        align-items: center;
        padding-top: 30px;
    }

    &__img {
        height: 40px;
        margin-right: 20px;

        @media @screen-gt-s {
            margin-right: 10px;
        }

        @media @screen-gt-m {
            margin-right: 30px;
        }
    }

    &__text {
        line-height: 20px;
    }
}